#output.cols {
  border: 200px;
}
input[type="number"] {
    width: 40px;
}
input[type="text"] {
    width: 100px;
}

input#max {
    width: 60px;
}

table {
    padding: 20px;
}

input, button {
    font-size: 90%;
}

div#input, div#output {
    border: double 1px #ccc;
    padding: 20px;
}

#output p {
    margin-top: 0;
    margin-bottom: 0;
}

#output.cols {
    -webkit-column-width: 200px;
    column-width: 200px;
}

#output.cols {
  border-bottom: 200px;
}

.error {
    color: red;
    font-weight: bold;
}
