h1 {
    color: #000033;
    font-family: "courier new";
    font-size: 200%;
    margin-left: 20px;

}

p {
  color: #000033;
  font-family: "courier new";
  font-size: 105%;
  font-weight: 500;
}
#content {

}
