h1 {
    color: #6f5060;
    font-family: "courier new";
    font-size: 200%
}

p {
  color: #a78682;
  font-family: "courier new";
  font-size: 105%;
  text-indent: 30px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
}

#content {
  background-color: #fbf7f4;
  width: 500px;
  height: 520px;
  padding: 10px;
  margin: 10px;
  border: double 20px #51344d;
  font-size: 20px;
}
